/* styles.css */
body{
    font-family: 'Time New Roman', sans-serif ;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border: 2px thick #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.left-section, .right-section {
    padding: 20px;
}
.left-section {
    background-color: navy;
    padding-left: 40px;
    color: white;
    width: 35%;
    text-align: start;
    
}
.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
    
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px navy;
    margin-top: 5%;
    margin-bottom: 5%;
}
ul {
    list-style-type: fill round;
    padding: 0;
    margin: 10px 0;
}
ul li {
    margin: 5px 0;
}

/*Right section styling*/
.right-section {
    padding-left: 40px;
    width: 65%;
}

button {
    font-family: 'Time New Roman', sans-serif ;
    border-radius: 10px;
    box-shadow: 0 0 15px navy;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    background-color: navy;
}
button:hover {
    background-color: rgb(145, 145, 252);
}